


.register-container {
  display: block;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjusts height dynamically to content */
  background-color: white;
  width: 50vh;
  padding: 50px; /* Adds padding inside the box */
  margin: 0 auto;
 margin-top: 70px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for box */
}

.register-container h2 {
  color: black;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  color: black;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding is included in element width */
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}

.button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #1a1d1d;
}
